/*
.mce-content-body .wpview-wrap {
	margin-bottom: 0;
}
*/
/*
.mce-content-body .wpview-wrap {
	border: none;
	width: auto;
	clear: none;
}

.mce-content-body .wpview-wrap[data-mce-selected] {
	background: transparent;
}
*/


blockquote.shortcode-ui-blockquote.alignleft,
blockquote.shortcode-ui-blockquote.alignright {
	width: 50%;
	float: left;
	margin-left: 0;
	margin-right: 20px;
}

blockquote.shortcode-ui-blockquote.alignright {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

blockquote.shortcode-ui-blockquote.aligncenter {
	border: none;
	text-align: center;
	margin: 0 0 40px 0;
}

blockquote.shortcode-ui-blockquote small {
	font-size: 0.65em;
	opacity: 0.5;
}