.wpview-wrap {

	&.wp-mce-view-show-toolbar {
		.toolbar {
			display: block;
		}
	}

	.shortcake-error {
		color: red;
		font-weight: bold;
	}

	.shortcake-empty {
		font-family: Consolas, Monaco, monospace;
		color: #666;
		font-size: 14px;
	}
}

body#wpview-iframe-sandbox {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.test-editable-blockquote {

	padding: 20px;
	border: 1px solid #E1e1e1;
	background: #f5f5f5;

	[contentEditable]:focus {
		outline: none;
	}

	blockquote {
		font-size: 24px;
		line-height: 1.5;
	}

	p {
		font-size: 16px;
		line-height: 1.5;
		font-style: italic;
	}
}
