.wp-core-ui .button.shortcode-editor-open-insert-modal {
	margin-right: 10px;
}

.shortcode-ui-insert-modal  {

	.media-modal {
		max-width: 800px;
		max-height: 800px;
		margin: auto;
	}

	.media-frame-content {
		top: 54px;
	}

}

.add-shortcode-list {
	padding: 0 10px;

	.shortcode-list-item {

		margin: 10px;
		float: left;

		-webkit-box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.1 );
		box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.1 );
		background: #eee;
		cursor: pointer;
		position: relative;
		text-align: center;
		width: 150px;
		height: 150px;

		.add-shortcode-list-item-icon {

			font-size: 64px;
			line-height: 150px;
			vertical-align: middle;

			.dashicons {
				display: inline-block;
				font-size: inherit;
				line-height: inherit;
				width: auto;
				height: auto;
				position: relative;
				top: -14px;
			}

		}

		.add-shortcode-list-item-title {
			margin: 0;
			padding: 5px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			max-height: 100%;
			word-wrap: break-word;
			text-align: center;
			font-weight: bold;
			background: rgba( 255, 255, 255, 0.8 );
			-webkit-box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.15 );
			box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.15 );
		}
	}

}

.shortcode-ui-content {
	.edit-shortcode-tabs {
		height: 34px;
		padding: 10px 10px 0;
	}

	.edit-shortcode-tabs-content {
		padding: 10px;
		border-top: 1px solid #ddd;
	}
}

.edit-shortcode-form {

	padding: 5px 20px;

	input,
	textarea {
		border: 1px solid #ddd;
		-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
		box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
		background-color: #fff;
		color: #333;
		outline: none;
		-webkit-transition: 0.05s border-color ease-in-out;
		transition: 0.05s border-color ease-in-out;
		max-width: 100%;
	}

	textarea {
		width: 100%;
		max-width: 100%;
		min-height: 100px;
	}


	.edit-shortcode-form-fields {
		> div { margin-bottom: 10px; }
	}

	.field-block {
		label {
			display: block;
			margin-bottom: 10px;
		}
	}

	.field-inline {
		label {
			display: inline-block;
		}
		padding-top: 10px;
	}

}


.shortcake-image-field-preview {

	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	border: 2px dashed #DDD;
	border-radius: 2px;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	img {
		margin: -2px;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.button.add {
		vertical-align: middle;
	}

	.button.remove {
		display: none;
		position: absolute;
		top: 5px;
		right: 5px;
		border: 1px solid #aaa;
		box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
	}

	&.has-attachment  {
		.button.add {
			display: none;
		}
		.button.remove {
			display: block;
		}
	}

}
